<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex,nofollow" />
    <title>OGN Database</title>
    <style>
        form { margin-bottom: 0; }
        .tab1 {border-width:1px; border-style:solid; border-color:black; border-collapse: collapse; border-spacing: 1px;}
        .tab2 {border-width:1px; border-style:solid; border-color:grey; }
        .tab1 tr {min-width:70px; background-color: #EEEEFF; text-align: left; vertical-align:middle; }
        .tab1 tr:nth-child(even) {background-color: #CCCCFF;}
        .tab1 td, .tab1 th {padding: 0 3px;}
        .inp {min-width:70px; text-align: right;}
    </style>
</head>
<body>
<center>
<a href="?l=english"><img src="/pict/english.gif" alt="English"></a>&nbsp;&nbsp;&nbsp;
<a href="?l=german"><img src="/pict/german.gif" alt="Deutsch"></a>&nbsp;&nbsp;&nbsp;
<a href="?l=french"><img src="/pict/french.gif" alt="Francais"></a>&nbsp;&nbsp;&nbsp;
<a href="?l=dutch"><img src="/pict/dutch.png" alt="Nederlands"></a>
</center>
{% block content %}{% endblock %}


<br><br><center>
{%  block disconnect %}{% endblock %}
    <img src="/pict/ogn-logo-ani.gif"></center>
</body>
</html>
