<!DOCTYPE html>
<html lang="en">
<head>
    <title>OGN Devices Database</title>

    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex,nofollow" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <style type="text/css">
        @import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
        body {font-family: "Open Sans", SansSerif}
        .header {border-bottom: 1px solid #888; margin-bottom: 20px;}
        .logo {margin: 10px 20px 10px 0; float:left;}
        .languageflags {text-align: justify; padding:10px 0; justify-content: space-between}
        .languageflags:after {content: "";display: inline-block;width: 100%;}
        h5 {border-bottom: 1px solid #888;}
        small {font-weight: lighter}
        tr:nth-child(even) {background-color: #33c3f0}
        .devbutton {padding: 5px;}
        .devices {text-align: center}
    </style>
    <script>
        if (window.location.protocol !== 'https:') {
            window.location.replace('https:' + window.location.href.substring(window.location.protocol.length));
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row header">
        <div class="ten columns">
            <img class="logo" src="pict/ogn-logo-ani.gif"><h1>  Devices DataBase</h1>
        </div>

        <div class="two columns languageflags">
            <a href="?l=english"><img src="/pict/english.gif" alt="English"></a>
            <a href="?l=german"><img src="/pict/german.gif" alt="Deutsch"></a>
            <a href="?l=french"><img src="/pict/french.gif" alt="Francais"></a>
            <a href="?l=dutch"><img src="/pict/dutch.png" alt="Nederlands"></a>
            <a href="?l=czech"><img src="/pict/czech.gif" alt="Czech"></a>
        </div>
        <div class="twelve columns devices">
            <b>{{ nbdevices  }} {{ lang.input_nbdevices }}</b>
        </div>
    </div>
    <div class="row">


        <div class="three columns">
            {%  block sidebar    %}{% endblock %}
            {%  block disconnect %}{% endblock %}

        </div>

        <div class="nine columns">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>
</body>
</html>
