{% extends "base.html.twig" %}

{% block content %}
{{ lang.email_sent }}
{% endblock %}

{% block sidebar %}
    <a href="/" class="button u-full-width" >{{ lang.home }}</a>
    {# <a href="#" class="button u-full-width" >Browse the DDB</a> #}
    <a href="/?a=u" class="button button-primary u-full-width" >{{ lang.create_account }}</a>
{% endblock %}

