<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ lang.email_subject }}</title>
</head>
<body>
{{ lang.email_content | raw }}
<a href="{{ validation_link }}">{{ validation_link }}</a>
</body>
</html>
