<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>{{ lang.email_object }}</TITLE>
</HEAD>
<BODY>
{{ lang.email_content }}
<A HREF="{{ validation_link }}">{{ validation_link }}</A>
</BODY>
</HTML>
